.wrapper{
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}

.upperPane{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    font-size: 1.5vh;
}

.priceInfo{
    text-align: right;
}

.lowerPane{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:1fr;
    text-align: center;
}


.buyColumn, .sellColumn{
    display:flex;
    flex-direction: column;
    row-gap: 1vh;
    margin: 0.5vh;
    font-size: 0.6em;
}

.portfolioColumn{
    display:grid;
    grid-template-columns:1fr;
    align-content: center;
    margin: 1vh;
    font-size: 1.2vh;
}

.positionInfoRow{
    display:flex;
    justify-content: space-between;

}

.positionInfoElementL {
    flex-grow: 1;
    text-align: left;
}

.positionInfoElementR {
    flex-grow: 1;
    text-align: right;
}

.buyButton {
    flex-grow: 1;
    border-radius: 1vh;
    border: 0px;
    font-size: 2vh;
}

