.wrapper{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    gap: 5em;
    justify-content: space-between;
    overflow: hidden;

}

.front, .back{
    font-size: 30px;
    flex-shrink: 0;
}