.stockList{
    /* animation: scroll 20000ms linear infinite; */
    height: 100%;
    display: flex;
    gap: 15px;
    padding-inline-start: 0px;
}

.wrapper{
    height: 100%;
    overflow: hidden;
}


@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}