.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.banner {
    flex-grow: 1;
    align-items: center;
}

.list {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.futuresitem{
    background-color: rgb(85, 85, 85);
    width: 100%;
    height: 100px;
    max-height: 100px;
    border-radius: 15px;
    padding: 15px;
    font-family: 'regular';
    display: flex;
    gap: 15px;
    align-items: center;
}

.ticker{
    flex-grow:1;
    font-size: 25px;
}

.direction{
    flex-grow:1;
    height: 100%;
    font-size: 20px;
    border-radius: 15px;
    border: 0px;
}