.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.banner {
    flex-grow: 1;
    align-items: center;
    font-family: 'semi-bold';
    font-size: 1.5vmin;
}

.list {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.futuresitem{
    background-color: rgb(85, 85, 85);
    width: 100%;
    flex-grow: 1;
    border-radius: 1vh;
    padding: 1vh;
    font-family: 'regular';
    display: flex;
    gap: 1vh;
    align-items: center;
}

.ticker{
    flex-grow:1;
    font-size: 1.5vmin;
}

.direction{
    flex-grow:1;
    height: 100%;
    width: 30%;
    font-size: 1.5vmin;
    border-radius: 1vh;
    border: 0px;
}