.wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.wrapper h1{
    flex-grow: 1;
    max-height: 10%;
}

.wrapper ul{
    list-style: none;
    padding: 0px;
    flex-grow: 4;
    overflow: auto;
}