.title {
    font-size: 1.5vmin;
    flex-grow: 2;    
    vertical-align: middle;
    font-family: 'semi-bold';
}

.detail {
    font-size: 2vh;
    flex-grow: 1;
    text-align: end;
    font-family: 'regular';
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}