.wrapper{
    display: flex;
    height: 100%;
    width: 100%;
}

.banner {
    flex-direction: column;
    display: flex;
}

.catalogue{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh;
    width: 75%;
}

.title {
    font-family: 'semi-bold';
    font-size: 2vmin;
}

.subtitle {
    font-family: 'regular';
    font-size: 2vh;
}