
/*TODO: I would really love to have a button with inner-rounded borders and transparent back ground*/
.stock-info-button{
    border:solid 2px transparent;
    border-radius: 5px;
    background: #223f41;
    font-size: 25px;
    text-align: left;
    color: white;
    font-family: monospace;
    padding: 10px;
}

.stock-info-button #ticker{
    font-family: 'falling-sky-bold';
}

.stock-info-button #name{
    font-family: 'falling-sky-regular';
}

.stock-info-button #price{
    font-family: 'falling-sky-regular';
}

.price-up{
    color: greenyellow;
}

.price-equal{
    color: white;
}

.price-down{
    color:red;
}