@import './base.css';

body {
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  width: 100vw;
  height: 100vh;
  align-content: center;
}

.mainWrapper {
  height: calc(100% - 60px);
  width: 80%;
  margin: auto;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}

@font-face {
  font-family: 'falling-sky-bold';
  src: url('./falling-sky-font/FallingSkyBoldplus-6GZ1.otf')
}

@font-face{
  font-family: 'falling-sky-regular';
  src: url('./falling-sky-font/FallingSkyLight-K2EX.otf');
}

@font-face{
  font-family: 'bold';
  src: url('./fonts/Inter_24pt-Bold.ttf');
}

@font-face{
  font-family: 'regular'; 
  src: url('./fonts/Inter_24pt-Regular.ttf');
}

@font-face{
  font-family: 'light';
  src: url('./fonts/Inter_24pt-Light.ttf');
}

@font-face{
  font-family: 'semi-bold';
  src: url('./fonts/Inter_24pt-SemiBold.ttf');
}

.bgcolorpriceup{
  background-color: green;
}

.bgcolorpricedown{
  background-color: red;
}