
/*TODO: I would really love to have a button with inner-rounded borders and transparent back ground*/
.Button{
    border: 0px;
    border-radius: 10px;
    background: #223f41;
    font-size: 25px;
    text-align: left;
    color: white;
    font-family: 'regular';
    padding: 10px;
    border-right: 10px solid #223f41;
    height: 100%;
    overflow: hidden;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Ticker{
    font-family: 'bold';
}

.Name{
    white-space: nowrap;
    overflow: hidden;
}

.Price{
}


/* TODO: should move the following three out into global */
.priceUp{
    color: greenyellow;
}

.priceEqual{
    color: white;
}

.priceDown{
    color:red;
}

.Button:hover{
    background: #999999;
}

.Button:active{
    background: #222222;
}
